<form role="form">
  <div class="form-group">
    <label for="title" class="control-label">Preset Name</label>
    <input type="text" ng-model="eq.presetName" class="form-control" id="title" placeholder="Enter Preset title">
  </div>

<table class="table table-striped">
  <thead>
    <th>Parameters</th>
    <th>Values</th>
  </thead>
  <tbody>
    <tr>
      <td> Lowband </td>
      <td>
        <select ng-model="eq.lowBand" >
          <option value="On">On</option>
          <option value="Off">Off</option>
        </select>
      </td>
    </tr>
    <tr>
      <td> Low peak/shelf </td>
      <td>
        <select ng-model="eq.lowPeakShelf" >
          <option value="Peak">Peak</option>
          <option value="Shelf">Shelf</option>
        </select>
      </td>
    </tr>
    <tr>
      <td> Low freq </td>
      <td>
          <input type="range" min="0" max="250" step="1" ng-model="eq.lowFreq" class="form-control" id="title" placeholder="{{ eq.lowFreq }}">
      </td>
      <td>
        <output>{{ eq.lowFreq }}(Hz)</output>
      </td>
    </tr>
    <tr>
      <td> Low gain </td>
      <td>
        <input type="range" min="-60" max="60" step="1" ng-model="eq.lowGain" class="form-control" id="title" placeholder="{{ eq.lowGain }}">
      </td>
      <td>
        <output>{{ eq.lowGain }}</output>
      </td>
    </tr>
    <tr>
      <td> Low/Mid band </td>
      <td>
        <select ng-model="eq.lowMidBand" >
          <option value="On">On</option>
          <option value="Off">Off</option>
        </select>
      </td>
    </tr>
    <tr>
      <td> Low/Mid Hi/Low Q </td>
      <td>
        <select ng-model="eq.lowMidHiLowQ" >
          <option value="Hi">Hi</option>
          <option value="Low">Low</option>
        </select>
      </td>
    </tr>
    <tr>
      <td> Low/Mid freq  </td>
      <td>
        <input type="range" min="250" max="1500" step="1" ng-model="eq.lowMidFreq" class="form-control" id="title" placeholder="{{ eq.lowMidFreq }}">
      </td>
      <td>
        <output>{{ eq.lowMidFreq }}(Hz)</output>
      </td>
    </tr>
    <tr>
      <td> Low/mid gain </td>
      <td>
        <input type="range" min="-60" max="60" step="1" ng-model="eq.lowMidGain" class="form-control" id="title" value="{{ eq.lowMidGain }}">
      </td>
      <td>
        <output>{{ eq.lowMidGain }}</output>
      </td>
    </tr>
    <tr>
      <td> Hi/Mid band </td>
      <td>
        <select ng-model="eq.hiMidBand" >
          <option value="On">On</option>
          <option value="Off">Off</option>
        </select>
      </td>
    </tr>
    <tr>
      <td> Hi/Mid freq </td>
      <td>
        <input type="range" min="1" max="8" step="0.1" ng-model="eq.hiMidFreq" class="form-control" id="title" value="{{ eq.hiMidFreq }}">
      </td>
      <td>
        <output>{{ eq.hiMidFreq }}(kHz)</output>
      </td>
    </tr>
    <tr>
      <td> Hi/Mid gain </td>
      <td>
        <input type="range" min="-60" max="60" step="1" ng-model="eq.hiMidGain" class="form-control" id="title" value="{{ eq.hiMidGain }}">
      </td>
      <td>
        <output>{{ eq.hiMidGain }}</output>
      </td>
    </tr>
    <tr>
      <td> Hi band </td>
      <td>
        <select ng-model="eq.hiBand" >
          <option value="On">On</option>
          <option value="Off">Off</option>
        </select>
      </td>
    </tr>
    <tr>
      <td> Hi peak/shelf </td>
      <td>
        <select ng-model="eq.hiPeakShelf" >
          <option value="Peak">Peak</option>
          <option value="Shelf">Shelf</option>
        </select>
      </td>
    </tr>
    <tr>
      <td> Hi freq </td>
      <td>
        <input type="range" min="8.0" max="20.0" step="0.1" class="form-control" id="title" ng-model="eq.hiFreq" value="{{ eq.hiFreq }}">
      </td>
      <td>
        <output>{{ eq.hiFreq }}(kHz)</output>
      </td>
    </tr>
    <tr>
      <td> Hi gain </td>
      <td>
        <input type="range" min="-60" max="60" step="1" class="form-control" id="title" ng-model="eq.hiGain" value="{{ eq.hiGain }}" >
      </td>
      <td>
        <output>{{ eq.hiGain }}</output>
      </td>
    </tr>
  </tbody>
</table>

  <input type="submit" class="btn btn-primary" ng-click="saveEq()" value="save">
</form>
